@font-face{
    font-family: 'font_total';
    src: url("D:/kaspar/Digi Madasi Bold.otf");
}
@font-face{
    font-family: 'font';
    src: url("D:/kaspar/FontsFree-Net-ir_sans (1).ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3B82F6;
    overflow: hidden;
}

.text,.login_title {
    font-family: font_total;
    color: #EAEAEA;
}
.username,.pass,.extra,.submit {
        font-family: font !important; 
}
input {
    font-family: font;
    font: 100;
    color: #EAEAEA;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px; 
    background: #2A2E5E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #000;
    text-align: center;
    transition: .5s ease;
}

.input-check:checked~h2 {
    color: #3B82F6;
    text-shadow: 0 0 15px #3B82F6, 0 0 30px #3B82F6;
}

.input-box {
    position: relative;
    width: 300px;
    margin: 30px 0;
}

.input-box .input-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: #EAEAEA;
    transition: .5s ease;
}

.input-check:checked~.input-box .input-line {
    background: #3B82F6;
    box-shadow: 0 0 10px #3B82F6;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #EAEAEA;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.40s;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    padding: 0 10px;
    outline: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 0;
    font-size: 12px;
    transition: 0.40s;
}

.input-check:checked~.input-box label {
    color: #3B82F6;
    text-shadow: 0 0 10px #3B82F6;
}

.input-check:checked~.input-box input {
    color: #3B82F6;
    text-shadow: 0 0 5px #3B82F6;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #EAEAEA;
    font-size: 1.2em;
    line-height: 57px;
    transition: .5s ease;
}

.input-check:checked~.input-box .icon {
    color: #3B82F6;
    filter: drop-shadow(0 0 5px #3B82F6);
}

button {
    width: 100%;
    height: 40px;
    background: #3B82F6;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #EAEAEA;
    font-weight: 500;
    transition: .5s ease;
}

button:hover {
    background: #2563EB;
}

.input-check:checked~button {
    background: #3B82F6;
    box-shadow: 0 0 15px #3B82F6, 0 0 15px #3B82F6;
}

.register-link {
    color: #EAEAEA;
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    transition: .5s ease;
}

.input-check:checked~.register-link {
    color: #3B82F6;
    text-shadow: 0 0 10px #3B82F6;
}

.register-link p a {
    color: #EAEAEA;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s ease;
}

.register-link p a:hover {
    text-decoration: underline;
}

.input-check:checked~.register-link p a {
    color: #3B82F6;
}

.login-light {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: #3B82F6;
    border-radius: 20px;
}

.light {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    height: 950px;
     background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: .5s ease;
}

.input-check:checked~.light {
    top: -90%;
}

.toggle {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background: #2A2E5E;
    border-radius: 25px ;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    background: #1B1F3B;
    border-radius: 50px ;
}

.toggle::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #EAEAEA;
    border: 2px solid #EAEAEA ;
    border-radius: 10px ;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s ease;
}

.input-check:checked~.toggle::after {
    top: 65px;
}

.input-check {
    position: absolute;
    right: -70px;
    z-index: 1;
    opacity: 0;
}

.toggle .text {
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: #3B82F6;
    font-size: 1em;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s ease;
}

.toggle .text.off {
    opacity: 1;
}

.input-check:checked~.toggle .text.off {
    top: 76px;
    opacity: 0;
    color: #3B82F6;
}

.toggle .text.on {
    opacity: 0;
}

.input-check:checked~.toggle .text.on {
    top: 76px;
    opacity: 1;
    color: #3B82F6;

    text-shadow: 0 0 15px #3B82F6, 0 0 30px #3B82F6;
}
a {
    text-decoration: none !important;
}

.input-group {
    position: relative;
    width: 300px;
    margin: 30px 0;
}


.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #EAEAEA;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.40s;
    font-family: font;
}


.input-group input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #EAEAEA;
    padding: 0 10px;
    background: transparent;
    outline: none;
    font-family: font;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 13px;
    transition: 0.40s;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1B1F3B;
    overflow: hidden;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: #2A2E5E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}